<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>后台首页</title>

<meta name="description"
	content="This is page-header (.page-header &gt; h1)" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="../assets/css/ace.min.css" id="main-ace-style" />
<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="../assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="../assets/css/ace-rtl.min.css" />

<script src="../assets/js/w3.js"></script>
<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../assets/css/ace-ie.min.css" />
		<![endif]-->
<!--[if lte IE 8]>
		<script src="../assets/js/html5shiv.min.js"></script>
		<script src="../assets/js/respond.min.js"></script>
		<![endif]-->
</head>

<body class="no-skin">
	<div id="navbar" class="navbar navbar-default">
		<div class="navbar-container" id="navbar-container">

			<button type="button" class="navbar-toggle menu-toggler pull-left"
				id="menu-toggler">
				<span class="sr-only">Toggle sidebar</span> <span class="icon-bar"></span>

				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>

			<!-- /section:basics/sidebar.mobile.toggle -->
			<div class="navbar-header pull-left">
				<!-- #section:basics/navbar.layout.brand -->
				<a href="./index.html" class="navbar-brand"> <small>大学生宿舍管理系统
				</small>
				</a>
			</div>

			<div class="navbar-header navbar-buttons pull-right"
				role="navigation">
				<ul class="nav ace-nav">
					<!-- #section:basics/navbar.user_menu -->
					<li class="light-blue"><a data-toggle="dropdown" href="#"
						class="dropdown-toggle"> <img class="nav-user-photo"
							src="../assets/avatars/admin.png" alt="Jason's Photo" /> <span
							class="user-info"> 欢迎您<br /> 陈子昂
						</span> <i class="ace-icon fa fa-caret-down"></i>
					</a>

						<ul
							class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
							<li><a href="#"> <i class="ace-icon fa fa-cog"></i> 系统设置
							</a></li>

							<li><a href="profile.html"> <i
									class="ace-icon fa fa-user"></i> 个人信息设置
							</a></li>

							<li class="divider"></li>

							<li><a href="#"> <i class="ace-icon fa fa-power-off"></i>
									退出
							</a></li>
						</ul></li>

					<!-- /section:basics/navbar.user_menu -->
				</ul>
			</div>



			<!-- /section:basics/navbar.dropdown -->
		</div>
		<!-- /.navbar-container -->
	</div>

	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">

		<!-- #section:basics/sidebar -->
		<div id="sidebar" class="sidebar responsive">

			<ul class="nav nav-list">
				<li class="active"><a href="./index.html"> <i
						class="menu-icon fa fa-tachometer"></i> <span class="menu-text">
							总控制台 </span>
				</a> <b class="arrow"></b></li>

				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-desktop"></i> <span class="menu-text">
							系统管理</span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">

						<li class=""><a href="#"
							ng-click="go2Html('../systemManage/userManage.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 用户管理
						</a> <b class="arrow"></b></li>
					</ul></li>

				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-desktop"></i> <span class="menu-text">
							公寓管理 </span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="#"
							ng-click="go2Html('../apartmentManage/building.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 楼房管理
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../apartmentManage/room.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 宿舍管理
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../apartmentManage/employee.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 员工管理
						</a> <b class="arrow"></b></li>
					</ul></li>

				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-search"></i> <span class="menu-text">
							信息查询 </span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="#"
							ng-click="go2Html('../infomationSearch/studentNumber.html')">
								<i class="menu-icon fa fa-caret-right"></i> 按学号进行查询
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../infomationSearch/name.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 按姓名进行查询
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../infomationSearch/class.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 按班级查询
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../infomationSearch/roomNumber.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 按寝室号查询
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../infomationSearch/buildingCondition.html')">
								<i class="menu-icon fa fa-caret-right"></i> 按每栋楼房住宿情况查询
						</a> <b class="arrow"></b></li>
					</ul></li>


				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-pencil-square-o"></i> <span
						class="menu-text"> 出入登记 </span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="#"
							ng-click="go2Html('../inOutRegister/in.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 进楼物品登记
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../inOutRegister/out.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 出楼物品登记
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="../inOutRegister/mockSurvey.html"> <i
								class="menu-icon fa fa-caret-right"></i> 人员来访登记
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../inOutRegister/concludeVisit.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 结束访问登记
						</a> <b class="arrow"></b></li>
					</ul></li>

				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-pencil-square-o"></i> <span
						class="menu-text"> 信息修改 </span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="#"
							ng-click="go2Html('../informationRevise/student.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 学生基本信息修改
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../informationRevise/employee.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 员工基本信息修改
						</a> <b class="arrow"></b></li>
					</ul></li>

				<li class=""><a href="#" class="dropdown-toggle"> <i
						class="menu-icon fa fa-search"></i> <span class="menu-text">
							分析与统计功能 </span> <b class="arrow fa fa-angle-down"></b>
				</a> <b class="arrow"></b>

					<ul class="submenu">
						<li class=""><a href="#"
							ng-click="go2Html('../analyseCount/studentIn.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 分析与统计学生进的情况
						</a> <b class="arrow"></b></li>

						<li class=""><a href="#"
							ng-click="go2Html('../analyseCount/studentOut.html')"> <i
								class="menu-icon fa fa-caret-right"></i> 分析与统计学生出的情况
						</a> <b class="arrow"></b></li>
					</ul></li>
			</ul>

			<!-- /.nav-list -->

			<!-- #section:basics/sidebar.layout.minimize -->
			<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
				<i class="ace-icon fa fa-angle-double-left"
					data-icon1="ace-icon fa fa-angle-double-left"
					data-icon2="ace-icon fa fa-angle-double-right"></i>
			</div>

		</div>

		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<!-- #section:basics/content.breadcrumbs -->
			<div class="breadcrumbs" id="breadcrumbs">
				<ul class="breadcrumb">
					<li><i class="ace-icon fa fa-home home-icon"></i> <a
						href="index.html">UI库首页</a></li>
				</ul>
				<!-- /.breadcrumb -->

				<!-- #section:basics/content.searchbox -->
				<div class="nav-search" id="nav-search">
					<form class="form-search">
						<span class="input-icon"> <input type="text"
							placeholder="请输入关键字 ..." class="nav-search-input"
							id="nav-search-input" autocomplete="off" /> <i
							class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</form>
				</div>
				<!-- /.nav-search -->

				<!-- /section:basics/content.searchbox -->
			</div>

			<div class="page-content">
				<!-- /section:settings.box -->
				<div class="page-content-area">

					<div id="row" class="row">
						<div id="html" class="col-xs-12" w3-include-html=""></div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content-area -->
			</div>
			<!-- /.page-content -->
		</div>
		<!-- /.main-content -->

		<div class="footer">
			<div class="footer-inner">
				<!-- #section:basics/footer -->
				<div class="footer-content">
					<span class="bigger-120">友情链接：<a
						href="http://www.cqut.edu.cn/" target="_blank">重庆理工大学</a>
						&nbsp;&nbsp; <a href="http://www.baidu.com/" target="_blank">百度</a>
					</span>
				</div>
			</div>
		</div>

		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<!-- /.main-container -->

	<!--[if !IE]> -->
	<script type="text/javascript">
		window.jQuery
				|| document.write("<script src='../assets/js/jquery.min.js'>"
						+ "<"+"/script>");
	</script>
	<!-- <![endif]-->
	<!--[if IE]>
			<script type="text/javascript">
			 window.jQuery || document.write("<script src='../assets/js/jquery1x.min.js'>"+"<"+"/script>");
			</script>
		<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement)
			document
					.write("<script src='../assets/js/jquery.mobile.custom.min.js'>"
							+ "<"+"/script>");
	</script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<!--[if lte IE 8]>
		  <script src="../assets/js/excanvas.min.js"></script>
		<![endif]-->
	<script src="../assets/js/jquery-ui.custom.min.js"></script>
	<script src="../assets/js/jquery.ui.touch-punch.min.js"></script>
	<script src="../assets/js/ace-elements.min.js"></script>
	<script src="../assets/js/ace.min.js"></script>
	<script src="../webjars/angular/1.6.6/angular.min.js"></script>
	<script lang="javascript">
		var app = angular.module('app', []);
		app.controller("AppCtrl", function($http, $scope, $document) {
			$http({
				method : 'GET',
				url : '/test'
			}).then(function successCallBack(resp) {
				$scope.resp = resp.data;
				console.log($scope.resp);
			}, function errorCallBack(resp) {
				console.log(resp + "error");
			});

			var go2Html = function(url) {
				var divId = 'html';
				$document[0].getElementById(divId).setAttribute(
						"w3-include-html", url);
				w3.includeHTMLs('', divId);
			};

			angular.extend($scope, {
				go2Html : go2Html
			});
		});
	</script>

</body>
</html>